

.jumbotron{
    margin-top: 20px;
    background-image: url('/images/frank.jpeg');
    /* background-image: url('/images/check.png'); */
    background-size: 350px;
    position: center;
    background-repeat: no-repeat;
    text-align: center;
    
}

.card-img-top {
    width: 100%;
     height: 15vw; 
     object-fit: cover;
   
}

